<template>
        <div class="flex justify-center items-center  w-full text-[#1b4965] py-32 bg-base-200" id="about">
        <div class="lg:px-20  lg:flex  rounded-2xl lg:gap-20">
            <div class="h-48  lg:h-auto lg:w-[50%] flex-none bg-cover rounded-t lg:rounded-bl-[100px] lg:rounded-tr-[100px] text-center overflow-hidden"
                style="background-image: url('https://cityzen.tn/images/meeting.avif')"
                title="">
            </div>
            <div
                class=" pt-10 h-full lg:border-gray-400 bg-primary text-neutral-content rounded-b lg:rounded-br-[100px] lg:rounded-tl-[100px] p-4 lg:pl-16 px-12 lg:px-4 flex flex-col justify-between leading-normal">
                <div class="mb-8" >
                    <div class="font-bold text-4xl pb-6 ">PLATEFORME CITYZEN</div>
                    <p class=" text-base">
                        Dans le cadre des projets portant sur le renforcement de la démocratie participative, de
                        l’implication des citoyens et des composantes de la société civile locale dans la sphère publique
                        locale, et en partenariat avec I Watch, l’Association Zone Verte consolide le projet CITYZEN une
                        plateforme (technologique) comprenant divers outils/solutions technologique que la société civile et
                        les citoyens pourront utiliser pour exprimer leurs besoins et leurs demandes auprès des autorités
                        locales. L’objectif de cette plateforme est d’encourager et de structurer l’engagement et la
                        participation citoyenne d’une part, et de promouvoir la transparence de la décision et des
                        investissements publics à l’échelle locale dans une démarche ascendante, d’autre part . Cette
                        plateforme portera le nom de CITYZEN </p>
                </div>
            </div>
        </div>
    </div>
</template>