<template>
    <div
        className="hero min-h-screen bg-fixed bg-[url('https://images.unsplash.com/photo-1596116015420-7dfb9c55dee5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')]">
        <div className="hero-overlay bg-opacity-100 backdrop-blur-lg w-full bg-transparent bg-gradient-to-t from-base-100"></div>
        <div
            className="hero-content text-center lg:text-start justify-start items-center w-full text-neutral-content h-full px-11 lg:p-0">
            <div className=" lg:max-w-xl h-full flex flex-col justify-center">
                <h1 className="mb-5 text-5xl font-bold">Association Zone Verte</h1>
                <p className="mb-5">
                <p class="mb-5">
                    En novembre 2012, l’association de la Zone Verte d’El Menzah a été créée par un groupe de citoyens qui
                    s’est mobilisé contre un projet de concession. Sa devise est mieux vivre ensemble de manière responsable
                    au sein d’une communauté d’acteurs consciente de l’importance de l’environnement en général et de la
                    Zone Verte en particulier et engagée dans le développement durable.
                    <button>...</button>
                </p>
                </p>
                <a className="btn btn-primary w-56 self-center lg:self-start" href="#about">En savoir plus</a>
            </div>
            <div>
                <img alt="logo zone vert" src="../assets/LogoZoneVerte.svg" class="hidden lg:block" />

            </div>
        </div>
    </div>
</template>