<template>
  <div class="navbar justify-start mb-2 bg-transparent text-neutral-content fixed z-20"
    :class="{ change_color: scrollPosition > 50 }">
    <div class="px-2 mx-2 navbar-start ">
      <img src="../assets/LogoCityzen.svg" alt="logo" class="w-[70px] min-w-[70px] cursor-pointer m-3" />

    </div>
    <div class="hidden px-2 mx-2 navbar-center lg:flex">
      <div class="flex items-stretch">
        <a class="btn btn-ghost btn-sm rounded-btn" href="#">
          Home
        </a>
        <a class="btn btn-ghost btn-sm rounded-btn" href="#mission">
          Mission
        </a>
        <a class="btn btn-ghost btn-sm rounded-btn" href="#projects">
          Projets
        </a>
        <a class="btn btn-ghost btn-sm rounded-btn" href="#about">
          A Propos
        </a>
        <a class="btn btn-ghost btn-sm rounded-btn" href="#contact">
          Contact
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <img src="../assets/LogoZoneVerte.svg" alt="logo" class="w-[70px] min-w-[70px] cursor-pointer m-3" />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  data() {
    return {
      scrollPosition: null as any,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
});
</script>
<style scoped>
.change_color {
  background-color: hsl(var(--b1) / 0.5);
  color: black;
  --tw-backdrop-blur: blur(24px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
</style>