<template>
    <div class=" pt-20 px-10 lg:px-20 flex justify-center items-center text-center flex-col gap-12 text-neutral bg-base-100">
        <div>
            <h1 class="text-7xl font-[Inter] font-bold text-neutral">Nos Valeurs </h1>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-2 justify-center items-center gap-6">

            <div
                class="flex flex-col justify-start items-center h-full shadow-lg py-6 px-11 gap-6 transition-colors duration-200 hover:text-white rounded-lg cursor-pointer hover:bg-[#25a740]">
                <img src="../assets/values/ecology.svg" class= h-16 />
                <h2 class="text-xl font-bold">Le respect de l’environnement</h2>
                <p class="">
                    Nous nous efforçons d'avoir une conduite respectueuse de l’environnement et nous nous engageons à
                    contribuer à la réalisation du développement durable en tenant compte de l'impact environnemental de
                    toutes nos activités.
                </p>
            </div>
            <div
                class="flex flex-col justify-start items-center h-full shadow-lg py-6 px-11 gap-6 transition-colors duration-200 hover:text-white rounded-lg cursor-pointer hover:bg-[#25a740]">
                <img src="../assets/values/determination.svg" class=" h-16" />

                <h2 class="text-xl font-bold">La détermination</h2>
                <p class="">
                    Nous mettons tout en œuvre pour promouvoir une citoyenneté active en permettant la mise en place
                    d’actions pertinentes et durables. Notre détermination nous permet d’atteindre l’excellence.
                </p>
            </div>
            <div
                class="flex flex-col justify-start items-center h-full shadow-lg py-6 px-11 gap-6 transition-colors duration-200 hover:text-white rounded-lg cursor-pointer hover:bg-[#25a740]">
                <img src="../assets/values/sharing.svg" class=" h-16" />
                <h2 class="text-xl font-bold">Le partage</h2>
                <p class="">
                    Le partage est l'une des devises de notre association, chaque membre donne et reçoit, ainsi se créent un
                    réseau d'échange et une fédération d'énergie, de compétences. Partager et capitaliser notre expertise,
                    nos expériences, et nos talents
                </p>
            </div>
            <div
                class="flex flex-col justify-start items-center h-full shadow-lg py-6 px-11 gap-6 transition-colors duration-200 hover:text-white rounded-lg cursor-pointer hover:bg-[#25a740]">
                <img src="../assets/values/creative.svg" class=" h-16" />
                <h2 class="text-xl font-bold">La créativité</h2>
                <p class="">
                    Nous croyons à la créativité pour susciter l’innovation et la mobilisation autour de nos projets. Nous
                    nous démarquons par nos idées nouvelles, notre curiosité et notre désir de faire les choses
                    différemment.
                </p>
            </div>
        </div>
    </div>
</template>